/* Header */

.hoc_bai_header {
    display: flex;
    text-align: center;
    background-color: black;
    height: 40px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 1024px;
}

.hoc_bai_thoat1 {
    margin: auto;
}

.hoc_bai_thoat {
    flex: 1;
    display: flex;
}

.hoc_bai_thoat button {
    background-color: black;
    border: none;
}

.header-hoc_bai2 {
    flex: 2;
}

.header-hoc_bai2 h3 {
    color: white;
    line-height: 40px;
    margin: 0;
}

.header-hoc_bai3 {
    flex: 1;
    display: flex;
}

.header-hoc_bai3 a {
    display: flex;
    width: 100%;
    text-decoration: none;
}

.header-hoc_bai3 a i {
    color: white;
    cursor: pointer;
    line-height: 40px;
    margin: auto;
    text-decoration: none;
}