header
{
    height: 140px;
    display: flex;
    position: relative;
    background-image: url(./img/Header-Background.jpg);
}

.header-first
{
    border-right-style: solid;
    border-right-color: rgb(235, 52, 6);
    border-right-style: 2px;
    width: 300px;
    align-items: center;
    text-align: center;
}

.header-first>h1 , h3
{
    color: rgb(3, 149, 247);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-second
{
    flex: 1;
}

.header2
{
    list-style: none;
    display: flex;
    flex: 1;
    padding: 0;
}

.header2 > a
{
    text-decoration: none;
    display: flex;
    flex: 1;
    margin: 0 20px;
}

.header2-list
{
    flex: 1;
    border-color: rgb(226, 43, 171);
    border-width: 2px;
    border-style:solid;
    border-radius: 5px;
    padding: 0 20px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    background-color: rgb(237, 243, 237);
}

.header2__conten:hover
{
    color: rgb(0, 110, 255);
}

.header_content > h1
{
    margin: 0;
    margin-top: 10px;
    text-align: center;
    color: rgb(9, 255, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header--fotter>a
{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(247, 17, 9);
    background-color: aqua;
}

.header--fotter>a>p
{
    margin: 0;
}

.header--fotter> a>img
{
    padding-left: 5px;
    height: 20px;
    width: 20px;
}
/*Phần từ vựng*/
.content
{
    margin: 20px 20px;
    background-color: rgb(205, 253, 233);
    padding: 10px 20px;
}

.temp1
{
    flex: 1;
    text-align: center;
}

.content_list-input1
{
    margin: 5px 0;
}

.content-folder
{
    color: blue;
}

.content_list-input1>input
{
    outline: none;
    width: 300px;
}

.input-lable
{
    display: inline-block;
    min-width: 200px;
}

.content--create
{
    margin-left: 345px;
}

/*Phần ngữ pháp*/
.content2
{
    margin: 20px 20px;
    background-color: rgb(213, 240, 248);
    padding: 10px 20px;
}

.content2-input2
{
    margin: 5px 0;
}

.content2-input2 > label
{
    display: inline-block;
    min-width: 200px;
}

.content2-input2 > input
{
    width: 400px;
    outline: none;
}

.content2--create
{
    margin-left:400px;
}

.footer
{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

#footer1
{
    display: block;
    margin: 0 20px;
}

/*Phần javaScrip*/

.lists-nghia
{
    display: flex;
    width: 500px;
}

.lists-nghia>h4
{
    width: 500px;
    margin: 0;
}


.lists-nghia >button
{
    margin-left: 300px;
}

#list:hover
{
    color: red;
}

.pramas
{
    margin-left: 300px;
}

.prame_temp:hover
{
    color: red;
}

/* Đóng góp ý kiến */
.gop_y
{
    margin: 20px 20px;
}
.gop_y > p
{
    
    font-size: 19px;
}

.gop_y-input1>label
{
    display: block;
}

.gop_y_tu1
{
    width: 300px;
}

.gop_y2_cmt
{
    width: 500px;
}

.gop_y-input1>input
{
    margin: 5px 0;
    outline: none;
}