.width {
  width: 1024px;
  margin: 0 auto;
  border-color: rgb(214, 214, 218);
  border-width: 1px;
  border-style: solid;
  background-color: rgb(245, 247, 241);
}

.nonePoiter {
  cursor: no-drop !important;
}

.Poiter {
  cursor: pointer !important;
}

.Display {
  display: block !important;
}

.noneDisplay {
  display: none;
}

/* Reponstive */
@media (max-width: 1024px) {
}

@media (min-width: 740px) and (max-width: 1023px) {
}

@media (max-width: 739px) {
  .width {
    width: 739px;
    margin: auto;
    border-color: rgb(214, 214, 218);
    border-width: 1px;
    border-style: solid;
    background-color: rgb(245, 247, 241);
  }

  /*Thông tin */
  .header-thong_tin_1 {
    margin-left: 0px !important;
    font-size: 16px !important;
    text-align: center;
  }

  .header-thong_tin_user_1 {
    margin-left: 0px !important;
    font-size: 16px !important;
    text-align: center;
  }

  /* Từ vựng */
  .input-lable {
    margin: 10px 0;
  }

  .content_list-input1 > input {
    width: 400px;
    height: 30px;
  }

  .check_user_tu_vung {
    width: 400px;
  }

  .user_tu_vung_check {
    text-align: center;
  }

  .content_tu_vung1 {
    box-sizing: border-box;
  }

  .content_tu_vung2 {
    padding-left: 25px;
    box-sizing: border-box;
  }

  .content_tu_vung3 {
    padding-left: 30px;
    box-sizing: border-box;
  }

  .content_list_backend_tu {
    width: 170px;
  }

  .content_list_backend_nghia {
    margin-left: 10px;
    width: 200px;
  }

  .content_list_backend_nut {
    margin-left: 115px;
  }

  /* Ngữ pháp */
  .check_user_NP {
    padding-left: 250px;
    width: 400px;
  }

  .content2-input2 > label {
    margin: 10px 0;
  }

  .content2-input2 > input {
    width: 400px;
    height: 30px;
  }

  .content2-input2 > textarea {
    width: 400px;
  }

  .content_ngu_phap1 {
    width: 173px;
  }

  .content_ngu_phap2 {
    width: 178px;
  }

  .content_list2_backend_ten {
    width: 165px;
    margin-left: 15px;
  }

  .content_list2_backend_cau_truc {
    margin-left: 10px;
    width: 165px;
  }

  .content_list2_backend_cach_dung {
    margin-left: 15px;
    width: 188px;
  }

  .pramas {
    margin-left: 20px;
  }

  .content_list2_backend-li {
    margin: 10px 0;
    font-size: 16px;
  }

  .content_list2_backend-li:hover {
    color: red;
  }

  .content2_backend {
    height: 620px;
    overflow-y: scroll;
  }

  /* Đánh giá */
  .danhGia {
    height: 740px;
    background-image: url(./img/dong_gop.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .gop_y {
    height: 440px;
    width: 700px;
    position: relative;
    top: 200px;
    left: 0px;
  }

  .gop_y-input1 > input {
    width: 550px;
    height: 50px;
    margin: 10px 40px;
    font-size: 20px;
  }

  #gop_y-input1 > textarea {
    width: 550px;
    margin: 10px 40px;
    font-size: 20px;
  }

  .gop_y--create {
    margin-top: 10px;
    width: 550px;
    height: 40px;
    margin: 10px 40px;
    font-size: 20px;
  }

  /* Header */
  .header-lienHe_1 {
    display: flex;
    margin-left: 70px;
  }

  .header_second--cmt {
    position: relative;
    top: 90px;
    right: 200px;
  }

  .header_second {
    padding-top: 100px;
    text-align: center;
    height: 350px;
    background-image: url(./img/header.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  /* Đăng kí */
  .dang_ki {
    height: 660px;
  }

  /* Footer */
  .footer2 > button {
    margin-top: 29px;
  }

  /*Backend*/
  .content1_backend {
    height: 900px;
    overflow-y: scroll;
  }

  .content2_backend {
    height: 900px;
    overflow-y: scroll;
  }

  /* Âm thanh */
  .music_body{
    display: none;
  }
}