/* Đóng góp ý kiến */

.danhGia {
    height: 600px;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: rgb(228, 245, 250);
}

.danhGia_thoat {
    margin: 5px 5px;
    height: 30px;
    width: 30px;
    color: white;
    background-color: rgb(255, 0, 0);
    outline: none !important;
    border: none;
    font-size: 20px !important;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px #999999;
    text-align: center;
}

.checkten_user {
    color: red;
    margin: 0px;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 14px !important;
    font-weight: 500;
}

.gop_y {
    background-color: rgb(117, 206, 228);
    width: 600px;
    min-height: 420px;
    /* position: relative;
    top: 100px; */
    margin-top: 50px !important;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 30px 30px 10px;
    -moz-box-shadow: 30px 30px 10px;
    -webkit-box-shadow: 30px 30px 10px;
    -o-box-shadow: 30px 30px 10px;
    -ms-box-shadow: 30px 30px 10px;
    border-radius: 10px;
    padding: 20px 80px;
}

.gop_y h2 {
    text-align: center;
    font-size: 35px;
}

.gop_y h4 {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
}

.gop_y-input1_one {
    display: flex;
}

.gop_y-input1_one input {
    margin-top: 50px 0;
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    outline: none;
    height: 25px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

#gop_y-input1>textarea {
    width: 440px !important;
    outline: none;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 10px;
}

.gop_y>button {
    outline: none;
    border: none;
    width: auto;
    font-size: 20px;
    height: 30px;
    border-radius: 5px;
    margin: auto;
    display: block;
    color: white;
}

.gop_y--create {
    margin-top: 10px;
    width: 350px;
    height: 30px;
    background-color: rgb(17, 116, 245);
    cursor: no-drop;
}

.gop_y--create>a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

.Header-home {
    height: 30px;
    text-align: center;
    line-height: 50px;
    color: white;
    display: none;
}

.Header-home>a {
    text-decoration: none;
    color: white;
}

.gop_y-input1_one_inner {
    margin: auto;
    margin-bottom: 20px;
}

.dang_gia_thoat {
    margin: 5px 5px;
    height: 30px;
    width: 30px;
    color: white;
    background-color: rgb(255, 0, 0);
    outline: none !important;
    border: none;
    font-size: 20px !important;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px #999999;
    text-align: center;
    cursor: pointer;
}