.hoc_bai {
    height: auto;
    background-color: #cfeff1;
    padding: 10px 0;
    box-sizing: border-box;
    margin: 20px 20px;
    border-radius: 5px;
}

.hoc_bai h1 {
    text-align: center;
    display: block;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hoc_bai h2 {
    text-align: center;
}

.hoc_bai h3 {
    text-align: center;
}

.hoc_bai_content {
    display: flex;
}

.hoc_bai_content_box {
    margin: auto;
    display: block;
    background-color: white;
    padding: 20px 20px;
    margin-bottom: 40px;
    border-radius: 5px;
}

.hocBai_list-input1 label {
    font-size: 20px;
    width: 200px;
    margin: 20px 0;
}

.hocBai_list-input2 label {
    font-size: 20px;
    width: 200px;
    margin: 25px 0;
}

.hocBai_list-input1 input {
    font-size: 18px;
    width: 300px;
    height: 30px;
    box-sizing: border-box;
    padding-left: 5px;
    margin-bottom: 5px;
    outline: none;
    height: 40px;
    border-radius: 5px;
    border-width: 0.5px;
}

.hocBai_list-input2 h2 {
    display: inline-block;
}

.hocBai_bat_dau {
    display: flex;
}

.hocBai_bat_dau button {
    font-size: 20px;
    margin: auto;
    margin-bottom: 20px;
    cursor: no-drop;
    background-color: rgb(74, 158, 236);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px #999999;
    border-style: solid;
    border-width: 0.5px;
    height: 30px;
}

.kiem_tra_kq {
    display: flex;
}

.kiem_tra_kq button {
    font-size: 20px;
    box-sizing: border-box;
    margin: auto;
    cursor: no-drop;
    background-color: rgb(74, 158, 236);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px #999999;
    border-style: solid;
    border-width: 0.5px;
    height: 30px;
}

.hoc_bai_header {
    display: flex;
    text-align: center;
    background-color: black;
    height: 40px;
    justify-content: space-between;
}

.hoc_bai_thoat1 {
    margin: auto;
}

.hoc_bai_thoat {
    flex: 1;
    display: flex;
}

.hoc_bai_thoat button {
    background-color: black;
    border: none;
}

.header-hoc_bai2 {
    flex: 2;
}

.header-hoc_bai2 h3 {
    color: white;
    line-height: 40px;
    margin: 0;
}

.header-hoc_bai3 {
    flex: 1;
    display: flex;
}

.header-hoc_bai3 i {
    color: white;
    margin: auto;
    cursor: pointer;
}


/* Lever2 */

.hocBai_list-input1 h3 {
    display: inline-block;
}

.hocBai_list-input1 h4 {
    display: none;
    font-size: 20px;
    margin: 5px 0;
}

.hocBai_dap_an0 {
    display: inline-block;
    width: 200px;
}

.hocBai_dap_an0 button {
    cursor: no-drop;
    background-color: rgb(74, 158, 236);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px #999999;
    border-style: solid;
    border-width: 0.5px;
    height: 25px;
    margin: 10px 0;
}

.hoc_bai_thoat1 i {
    font-size: 18px;
    cursor: pointer;
}