/* Header */

.hoc_bai_header {
    display: flex;
    text-align: center;
    background-color: rgb(69, 202, 255);
    height: 40px;
    justify-content: space-between;
    position: fixed;
    width: 1024px;
    max-width: 100%;
}

.hoc_bai_thoat1 {
    margin: auto;
}

.hoc_bai_thoat {
    flex: 1;
    display: flex;
}

.hoc_bai_thoat button {
    color: black;
    border: none;
    background-color: rgb(69, 202, 255);
}

.header-hoc_bai2 {
    flex: 1;
}

.header-hoc_bai2 h3 {
    color: black;
    line-height: 40px;
    margin: 0;
}

.header-hoc_bai3 {
    flex: 1;
    display: flex;
}

.header-hoc_bai3 a {
    display: flex;
    width: 100%;
    text-decoration: none;
}

.header-hoc_bai3 a i {
    color: black;
    cursor: pointer;
    line-height: 40px;
    margin: auto;
    text-decoration: none;
}

.content--create {
    background-color: rgb(69, 202, 255) !important;
    box-shadow: none !important;
    margin-bottom: 0px;
}

@media (max-width: 739px) {
    .content--create {
        margin-bottom: 15px !important;
    }
}